.App {
    text-align: center;
    scroll-behavior: smooth;
    overflow: scroll;
    background-color: #505050;
  }
  
  ::selection {
    background-color: #75807f;
    color: #D14990;
  }
  ::-moz-selection {
    background-color: #505050;
    color: #D14990;
  }

  div{
    font-family: 'Economica';
  }

  h2 {
    padding: 10px;
    margin: 10px;
  }
  
  a {
    color: black;
    padding: 20;
    margin: 10px;
  }
  
  .App-link {
    color: black;
  }

  .block-menu {
     height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 140px; /* Set the width of the sidebar */
  position: Fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black */

  list-style-type: none;
  }

a:hover {
    color: #6b767c;
  }

  .top-left {
    left: 16px;
    top: 8px;
    font-size: 18px;
    color: #dcb0f5;
  }


  .block-menu li a {
    font-family: 'Economica';
    text-decoration: none;
    padding-top: 10%;
    font-size: 25px;
    color: white;
    display: block;
  }

  .button-icon-bottom {
  position: absolute;
  bottom: 30px;
  border-radius: 12px;
  background-color: #7d32a8;
  text-align: center;
  }

  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  @font-face {
    font-family: 'Philosopher';
    src: local('Philosopher'), url(../fonts/Philosopher-Regular.ttf) format('TrueType');
  }

  
@font-face {
  font-family: 'Economica';
  src: local('Economica'), url(../fonts/Economica-Regular.ttf) format('TrueType');
}