.home-split-containter {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}
.top_div {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 30%;
  background-color:#242526;
  text-align:center;
}

.bottom_div {
  position: absolute;
  top: 70%;
  right: 0;
  left: 0;
  bottom: 0;
  background-color:#6b767c;
  text-align:center;
  color:#FFFFFF;
}

.top_div img {
  width: 60%;
  height: auto;
}


  .home-top {
    margin-left: 50%;
    color: black;
  }

  .home-top:before { 
    content: "SeCruse: ";
 color: white;
 font-family: "EconomicaB";
}


b {
    font-family: "PhilosopherB";
}

@font-face {
    font-family: 'PhilosopherB';
    src: local('PhilosopherB'), url(../fonts/Philosopher-Bold.ttf) format('TrueType');
  }

@font-face {
  font-family: 'EconomicaB';
  src: local('EconomicaB'), url(../fonts/Economica-Bold.ttf) format('TrueType');
}